<thead>
    <tr>
        <th>Sl. No.</th>
        <th>UserName</th>
        <th>Role</th>
        <th>Created Date</th>
    </tr>
</thead>
<tbody>
    <% if(items.userDetails.length===0) { %>
        <p>No users found !</p>
        <% } else {let i=1 ; items.userDetails.forEach(function(user){ if(i<=5){ %>
            <tr>
                <td>
                    <%= i %>
                </td>
                <td><input type="text" class="form-control" value="<%= user.userName %>" name="userName"
                        placeholder="User Name" readonly /></td>
                <td><input type="text" class="form-control" value="<%= user.userRole %>" name="Role"
                        placeholder="User Role" readonly /></td>
                <td><input type="text" class="form-control" value="<%= user.createdDate.toISOString() %>" name="Role"
                        placeholder="User Role" readonly />
                </td>

            </tr>
            <% i++; }}); } %>
</tbody>