<br />
<br />
<h1 class="commanHeading">Configure User Details :<b>
    </b></h1>
<div class="d-flex justify-content-between">
    <div class="d-flex" style="flex-direction: row-reverse;">
        <button type="button" style="float: right;" onclick="addUser()" class="btn btn-success d-none"
            name="btnAddUser"><i class="fa fa-solid fa-plus"></i> Add User</button>&nbsp;
        <button type="button" style="float: right;" class="btn btn-primary" data-toggle="modal"
            data-target="#exampleModal"><i class="fa-solid fa fa-file-arrow-up"></i> Import Users</button>&nbsp;
        <button type="button" style="float: right;" class="btn btn-info" onclick="exportUserDetails()"><i
                class="fa-solid fa-file-arrow-down"></i>
            Export Users List</button>
    </div>
</div>
<br />
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Select Excel File
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="file" id="inputExcel" name="inputExcel" />
            </div>
            <div class="modal-footer">
                <a href="/sample.xlsx" class="btn btn-primary">
                    Sample Download
                </a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary addItemExcel" onclick="addUserFromExcel()">
                    Upload
                </button>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="body table-responsive">
        <h4>Search Users :</h4>
        <br>
        <div>
            <div class="input-group mb-4">
                <input type="search" placeholder="Search here with Email Id...." class="form-control"
                    id="txtSearchReqUser" onkeyup="clearView(this)">
                <div class="input-group-append">
                    <button id="button-addon-userSearch" type="button" onclick="searchUserByEmail()"
                        class="btn btn-primary"> <i class="fa fa-search"> </i>
                    </button>
                </div>
            </div>
        </div>
        <table id="user_tbl" class="table table-striped table-bordered" style="width:100%">
        </table>
    </div>
    <hr>
    <div class="body table-responsive">
        <h4>Your Import History (Last 5): </h4>
        <hr>
        <div>
            <div class="input-group mb-4">
                <input type="search" placeholder="Search here with Import Id...." class="form-control"
                    id="txtSearchImportId" onkeyup="clearView(this)">
                <div class="input-group-append">
                    <button id="button-addon-history-search" type="button" onclick="searchHistory()"
                        class="btn btn-primary"> <i class="fa fa-search"> </i>
                    </button>
                </div>
            </div>
        </div>
        <table id="tbl_import_history" class="table table-striped table-bordered" style="width:100%">
            <%- include('_importHistoryPartial.ejs') %>
        </table>
    </div>
</div>