<!-- main-content End -->
<!--Dont't include jquery it's already included-->
<!-- Core -->
<script src="/bundles/libscripts.bundle.js"></script>
<script src="/bundles/vendorscripts.bundle.js"></script>

<!-- <script src="/bundles/c3.bundle.js"></script> -->
<!-- <script src="/bundles/jvectormap.bundle.js"></script>  -->
<!-- JVectorMap Plugin Js -->
<!-- <script src="/bundles/chartist.bundle.js"></script> -->
<!-- <script src="/vendor/chartist/polar_area_chart.js"></script> -->
<!-- Polar Area Chart Js -->

<!-- <script src="/bundles/morrisscripts.bundle.js"></script>  -->
<!-- Morris Plugin Js -->
<!-- <script src="/bundles/fullcalendarscripts.bundle.js"></script> -->
<!--/ calender javascripts -->

<script src="/javascripts/theme.js"></script>
<!--<script src="/javascripts/pages/charts/morris.js"></script>

<script src="/javascripts/pages/charts/chartjs.js"></script>
<script src="/javascripts/pages/index.js"></script>
<script src="/javascripts/pages/todo-js.js"></script>
<script src="/javascripts/pages/calendar.js"></script> -->
<div class="copyright text-right p-3 pr-5" style="position: absolute;bottom: 0;left: 0;"></div>


<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/javascripts/jquery.validate.min.js"></script>
<script src="/javascripts/jquery.toast.js"></script>
<script src="/javascripts/custom-script.js"></script>
<script src="/javascripts/login-signup.js"></script>
<script src="/javascripts/userview.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>