<div class="left_sidebar" id="printPageButton">
  <nav class="sidebar" style="overflow-y: hidden">
    <ul id="main-menu" class="metismenu" style="height: 100%">
      <li class="<%= groupName=='admin' ? 'active' : ''%> mt-2">
        <a href="/onLoad">
          <span class="fa-sharp fa-solid fa-user-shield"></span>
          <span>&nbsp;Parking Config</span>
        </a>
      </li>
      <li class="<%=groupName == 'item' ? 'active' : ''%> mt-2">
        <a href="/On" class="">
          <span class="fa-sharp fa-solid fa-face-smile"></span>
          <span>&nbsp;Security Control</span>
        </a>
      </li>
      <li class="<%=groupName == 'dashboard' ? 'active' : ''%> mt-2">
        <a href="/dashboard" class="">
          <span class="fa-sharp fa-solid fa-users"></span>
          <span>&nbsp;Users</span>
        </a>
      </li>
    </ul>
  </nav>
</div>